@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1A1A1D;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  height: 60%;
  width: 35%;
}

.heading {
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  font-family: 'Montserrat', sans-serif;
}

@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    height: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 60%;
  }
}
