@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;

  /* Full height of page */
  height: 100vh;
  
  align-items: center;
  background-color: #1A1A1D;
}

.joinInnerContainer {
  width: 30%;
  margin: auto;
}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold;
}

.heading {
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  font-family: 'Montserrat', sans-serif;
}

.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .heading{
    font-size: 2em;
  }

  .joinInnerContainer {
    width: 90%;
  }


}

button:focus {
  outline: 0;
}